body {
	margin: -1em;
	font-family: Merriweather, sans-serif;
}
/*nav {
	background-color: GoldenRod;
	list-style-type: none;
	width: 100%;
	text-align: right;

	
}
nav ul li {
	background-color: GoldenRod;
	color: white;
	display: inline;
	line-height: 300%;
	padding-right: 10px;
    /*float: right;*/

}
nav ul li:hover { 
	color: #000; 
	background-color: #fff;
	2 
	} */

ul
{
    list-style-type: none;
}

#top {
	color: white;
	background: url(../img/personal4.jpg) no-repeat center center fixed;
	background-height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;
	margin-top: 0%;

	
	/*doesnt work*/
}
#firstheader {
	color: white;
	margin-top: 0em;
}

.currentprojects {
	/*text-align: center;*/
	font-weight: bold;
}

.datetitle{
	font-size: 150%;
}

#education {
	background: url(../img/educationimg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: black;
	line-height: 230%;
}

#educationtitle {
	background: rgba(54, 25, 25, .7);
}
.workexperience {
	line-height: 200%;
	background-color: GoldenRod;


}

.maintitle {
	color: white;
	background-color: black;
	background-size: cover;
	margin :0;

}



.blurr {
	background: rgba(54, 25, 25, .5);
}
#educationinfo {
	color: white;
	font-family: Merriweather bold, sans-serif;
	font-size: 200%


}
#experiences{
	font-size: 125%;
	line-height: 200%;
}

.date{
	font-style: italic;
	/*doesnt work*/
}

.boldtitle{
	font-weight: bold;
}

.firstheader {
	margin: 0em;
}

